<div class="post-snippet">
  <h3 class="snippet-title"><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
  <p><%= post.body %></p>
  <ul class="post-info-list">
    <li>by: <a href="/users/<%= post.author.id %>"><%= post.author.username %></a>, <span class="team-badge"><%= post.author.favorite_team.name %></span></li>
    <li>posted: <%= post.created_at %></li>
  </ul>
</div>
