<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<ul class="post-info-list">
  <li>by: <%= @post.author.username %>, <span class="team-badge"><%= @post.author.favorite_team.name %></span></li>
  <li>posted: <%= @post.created_at %></li>
</ul>
<div class="replies-container">
  <ul class="replies-list">
    <% @post.replies.each do |reply| %>
      <li class="reply"><%= erb :"replies/_show", locals: { reply: reply } %></li>
    <% end %>
  </ul>
</div>
<a href="/posts/<%= @post.id %>/replies/new">Reply to Post!</a>
